
- @places.each do |place|
  %h1= link_to place.name, place_path(place)

= @markers

%div{ style: 'width 1200px;'}
#map{style: 'width: 1200px; height: 1200px;'}

:javascript
  var markers = #{raw @markers}

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat:  41.390205, lng: 2.154007},
      zoom: 2,
    });

    var contentString = '<div><img src="http://media3.giphy.com/media/M7gtacN7aPNsc/giphy.gif" alt="this is gif"</div>'


    for( i = 0; i < markers.length; i++ ) {

      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      var marker = new google.maps.Marker({
        position: {lat: markers[i][1], lng: markers[i][2]},
        map: map,
        animation: google.maps.Animation.BOUNCE,
        title: markers[i][0],
        windowContent: contentString
      });

      marker.addListener('click', function() {
        infowindow.setContent(this.windowContent);
        infowindow.open(map, this);
      });

    }

  }
