<!DOCTYPE html>
<html>
  <head>
    <title>MapPlay</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>MaP PlaY</h1>
    </header>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9wAasFl3L3uOLJzK469tAc8tC2ch1YYw&callback=initMap"></script>
  </body>
</html>
